<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>CRIMEDESK_NTFY_URL</key>
		<string>__NTFY_URL__</string>
	</dict>
	<key>Label</key>
	<string>com.crimedesk.nonce-surveil</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__DESK_ROOT__/ops/surveil.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>__DESK_ROOT__/state/launchd.err</string>
	<key>StandardOutPath</key>
	<string>__DESK_ROOT__/state/launchd.out</string>
	<key>StartInterval</key>
	<integer>900</integer>
</dict>
</plist>
